@page "/"
@using BlHell_per.Components
@using BlHell_per.Core;

@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>BlHell-per</h1>

<h2>Выберите предмет для проверки</h2>
<div class="container px-4 border-secondary">
    <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="@(x => onClick(Info.Subject.DifferentialEquations))">@Info.Subject.DifferentialEquations.TranslatedName</MudButton>
    <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="@(x => onClick(Info.Subject.Programming))">@Info.Subject.Programming.TranslatedName</MudButton>
    <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="@(x => onClick(Info.Subject.InformationalTechnology))">@Info.Subject.InformationalTechnology.TranslatedName</MudButton>
</div>

@code {
    internal async void onClick(Info.Subject subject) =>
            Navigation.NavigateTo($"Subject/{subject.Name}");
}
