@page "/Subject/Test/{Name}"
@page "/Subject/Test/{Name}/{num:int}/{min:int}/{max:int}/{random:bool}/{allowjsonview:bool}"

@using System.Text.RegularExpressions;
@using System.Web;
@using BlHell_per.Components;
@using BlHell_per.Core.Compat
@using BlHell_per.Core.Questions

@inject HttpClient Http
@inject IJSRuntime JS

<h3>TestingPage - @name @num</h3>

@if (questionsArray == null || questionsArray.Length == 0) 
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
} else 
{
    <MudGrid class="pb-20">
        @for (int i = 0; i < questionsArray.Length; i++)
        {
            int local_i = i;
            Question question = questionsArray[local_i];

            <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
                <MudPaper>
                    <TestQuestionView Index="local_i + 1" QuestionModel="@question" OnAnswerClickCallback="@(e => this.onQuestionAnswered(e,local_i))"
                                      AllowJsonView="allowjsonview" Immediate="@(!specialMode)" IsCompleted="@testEnded" />
                </MudPaper>
            </MudItem>
        }
    </MudGrid>
    @if (this.specialMode)
    {
        <MudButton Class="pa-5 mb-15" Size="Size.Large" Variant="Variant.Outlined" FullWidth="true" @onclick="@(x => this.testEnded = true)">Закончить тест</MudButton>
    }
    <TestinPage_TestEndDialog Statuses="statuses" Visible="@(testEnded && this.statuses.Length == 25)" />
}

@code {
    [Parameter]
    public string name { get; set; }

    [Parameter]
    public int num { get; set; }
    [Parameter]
    public int min { get; set; }
    [Parameter]
    public int max { get; set; }

    [Parameter]
    public bool random { get; set; }

    [Parameter]
    public bool allowjsonview { get; set; }

    private string[] colors =
    {
        "#c0392b",
        "#2ecc71",
        "#d4ac0d"
    };

    private Question[] questionsArray;

    private int statusesCounter;
    private int[] statuses;

    private bool shouldRender = true;
    private bool specialMode = false;
    private bool testEnded = false;

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        Task task = new Task(()=> { });
        try 
        { 
            task = base.OnAfterRenderAsync(firstRender); 
        }
        catch (Exception _) {}
        return task;
    }


    protected override async Task OnInitializedAsync()
    {
        SerializationHandler<Question> serializationHandler = 
        await SerializationHandler<Question>.DeserializeAsync($"resources/{name}.json", Http, JS);

        this.specialMode = this.num == default;
        if (this.specialMode)
        {
            this.num = 25;
            this.min = 0;
            this.max = serializationHandler.Questions.Length;
            this.random = true;
            this.allowjsonview = false;
        }

        Question[] questions = serializationHandler.Questions.Extract(this.min,this.max);
        if (random) questions.Shuffle();

        this.questionsArray = new Question[this.num];
        Array.Copy(questions,this.questionsArray,this.num);

        this.statuses = new int[this.num];
        Array.Fill(this.statuses,-1);

        await base.OnInitializedAsync();
    }
    private async void onQuestionAnswered(int result,int index)
    {
        this.statuses[index] = result;
        this.shouldRender = false;

        if (Array.FindAll(statuses, e => e == -1).Count() == 0 && !this.specialMode)
        {
            this.testEnded = true;
            this.StateHasChanged();
        }
    }

    protected override bool ShouldRender()
    {
        if (!this.shouldRender)
        {
            this.shouldRender = true;
            return false;
        }
        return base.ShouldRender();
    }
}
